<h1>Entrer une nouvelle course</h1>
<form [formGroup]="courseForm" (ngSubmit)="onSubmit()" >
Location : <input type="text" id="location" formControlName="location" name="location"  pInputText pTooltip="Entrez le lieu" tooltipPosition="top" />
Date : <ngb-datepicker #dp formControlName="date"  ></ngb-datepicker>
<br>
Ponies : 

<p-pickList [source]="listPony" [target]="selectedPony" [responsive]="true" dragdrop="true"  >
    <ng-template let-p pTemplate="listPony">
      <div class="ui-helper-clearfix" >
        {{p.name}}
      </div>
    </ng-template>
</p-pickList>

<br><br>
<button type="submit" >Enregistrer</button>
</form>


<p>
    Valeur : {{ courseForm.value | json }}
  </p>
  
  <p>
    Status : {{ courseForm.status }}
  </p>